.fa, .fab, .fal, .far, .fas { display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1; }
@keyframes fa-spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(1turn); }
}
.fa-arrow-circle-right::before { content: ""; }
.fa-bars::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-clock::before { content: ""; }
.fa-edit::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-facebook-f::before { content: ""; }
.fa-map-marker-alt::before { content: ""; }
.fa-odnoklassniki::before { content: ""; }
.fa-phone-volume::before { content: ""; }
.fa-times::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-youtube::before { content: ""; }
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  src: url("fa-brands-400.eot") format("embedded-opentype"), url("fa-brands-400.woff2") format("woff2"), url("fa-brands-400.woff") format("woff"), url("fa-brands-400.ttf") format("truetype"), url("fa-brands-400.svg") format("svg");
}
.fab { font-family: "Font Awesome 5 Brands"; }
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  src: url("fa-regular-400.eot") format("embedded-opentype"), url("fa-regular-400.woff2") format("woff2"), url("fa-regular-400.woff") format("woff"), url("fa-regular-400.ttf") format("truetype"), url("fa-regular-400.svg") format("svg");
}
.far { font-weight: 400; }
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  src: url("fa-solid-900.eot") format("embedded-opentype"), url("fa-solid-900.woff2") format("woff2"), url("fa-solid-900.woff") format("woff"), url("fa-solid-900.ttf") format("truetype"), url("fa-solid-900.svg") format("svg");
}
.fa, .far, .fas { font-family: "Font Awesome 5 Free"; }
.fa, .fas { font-weight: 900; }
