div#jivo-iframe-container { width: 0px !important; height: 0px !important; transition: none 0s ease 0s ; position: fixed !important; overflow: hidden !important; background: transparent none repeat scroll 0% 0% !important; max-height: 100% !important; min-height: 0px !important; padding: 0px; margin: 0px; top: auto; bottom: 0px !important; backface-visibility: hidden; }
iframe#jivo_container { z-index: 0 !important; position: relative !important; width: 0px !important; height: 0px !important; display: block !important; background: transparent none repeat scroll 0% 0% !important; top: 0px !important; bottom: 0px !important; opacity: 0; visibility: hidden; }
.globalClass_5c43 a, .globalClass_5c43 form, .globalClass_5c43 iframe, .globalClass_5c43 input, .globalClass_5c43 svg, .globalClass_5c43 textarea { animation: 0s ease 0s normal none 1 running none !important; backface-visibility: visible !important; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% !important; border: 0px none !important; box-shadow: none !important; box-sizing: content-box !important; bottom: auto !important; caption-side: top !important; clear: none !important; clip: auto !important; cursor: auto !important; display: inline !important; direction: ltr !important; flex: 0 0 auto !important; height: auto !important; hyphens: manual !important; image-rendering: auto !important; justify-content: flex-start !important; left: auto !important; letter-spacing: normal !important; line-height: normal !important; margin: 0px !important; max-height: none !important; max-width: none !important; min-height: 0px !important; min-width: 0px !important; object-fit: fill !important; opacity: 1 !important; order: 1 !important; outline: 0px none !important; overflow: visible !important; padding: 0px !important; perspective: none !important; position: static !important; resize: none !important; right: auto !important; text-align: left !important; text-decoration: none !important; text-indent: 0px !important; text-overflow: clip !important; text-shadow: none !important; text-transform: none !important; top: auto !important; transform: none !important; transition: all 0s ease 0s !important; unicode-bidi: normal !important; -moz-user-select: none !important; vertical-align: baseline !important; white-space: normal !important; width: auto !important; word-break: normal !important; word-spacing: normal !important; overflow-wrap: normal !important; z-index: auto !important; font-style: normal !important; font-weight: 400 !important; filter: none !important; }
.globalClass_5c43 a { -moz-text-size-adjust: inherit !important; }
.globalClass_5c43 *::after, .globalClass_5c43 *::before { content: none; }
@supports (-ms-ime-align:auto) and (color:unset) {
  .globalClass_5c43 {  }
}
jdiv { animation: 0s ease 0s normal none 1 running none; backface-visibility: visible; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; border: 0px none; box-shadow: none; box-sizing: content-box; bottom: auto; caption-side: top; clear: none; clip: auto; cursor: auto; display: inline; direction: ltr; flex: 0 0 auto; height: auto; hyphens: manual; image-rendering: auto; justify-content: flex-start; left: auto; letter-spacing: normal; line-height: normal; margin: 0px; max-height: none; max-width: none; min-height: 0px; min-width: 0px; object-fit: fill; opacity: 1; order: 1; outline: 0px none; overflow: visible; padding: 0px; perspective: none; position: static; resize: none; right: auto; text-align: left; text-decoration: none; text-indent: 0px; text-overflow: clip; text-shadow: none; text-transform: none; top: auto; transform: none; transition: all 0s ease 0s; unicode-bidi: normal; -moz-user-select: none; vertical-align: baseline; white-space: normal; width: auto; word-break: normal; word-spacing: normal; overflow-wrap: normal; z-index: auto; filter: none !important; font-weight: 400; -moz-text-size-adjust: inherit; -webkit-text-fill-color: currentcolor; }
jdiv::after, jdiv::before { box-sizing: inherit; }
.pseudoHeight_2397 { position: fixed; top: 0px; bottom: 0px; width: auto; left: 0px; right: 0px; visibility: hidden; }
jdiv.jivoMouseTrack_fc2b { position: fixed !important; width: auto !important; height: auto !important; max-height: none !important; z-index: 2147483647 !important; left: -300px !important; right: -300px !important; top: -200px !important; bottom: 0px !important; display: none; background-color: transparent !important; opacity: 0 !important; -moz-user-select: none !important; transform: none !important; }
@keyframes showmessage_37b1 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes showmessage_37b1 {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes wrapAnimation_b6fd {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapAnimation_b6fd {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_494f {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_494f {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_6a75 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_6a75 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_3d6b {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_3d6b {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_d2fc {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_d2fc {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
.player_cafe { position: absolute; display: block; width: 0px; height: 0px; opacity: 0; overflow: hidden; }
@keyframes WidgetContainer_OPEN_WIDGET_16c9 {
0% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
99% { width: 336px; }
100% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right:var(--right,--labelright); }
}
@keyframes WidgetContainer_OPEN_WIDGET_16c9 {
0% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
99% { width: 336px; }
100% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right:var(--right,--labelright); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_9fbf {
0% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right:var(--right,--labelright); }
90% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right:var(--labelright,auto); width:var(--labelwidth,336px); }
100% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(100%); right:var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_9fbf {
0% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right:var(--right,--labelright); }
90% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right:var(--labelright,auto); width:var(--labelwidth,336px); }
100% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(100%); right:var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_d304 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_d304 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_361a {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_361a {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_c681 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_c681 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_091a {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_091a {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_8329 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_8329 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_0ad5 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_0ad5 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_d9cf {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_d9cf {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_5b4c {
0% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left:var(--left,--labelleft); }
}
@keyframes WidgetContainer_OPEN_WIDGET_5b4c {
0% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left:var(--left,--labelleft); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_c165 {
0% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left:var(--left,--labelleft); }
90% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right:var(--labelright,auto); width:var(--labelwidth); }
100% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(100%); right:var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_c165 {
0% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right:var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left:var(--left,--labelleft); }
90% { display: block; height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right:var(--labelright,auto); width:var(--labelwidth); }
100% { display: block; width:var(--labelwidth); height:var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left:var(--labelleft,auto); transform: translateY(100%); right:var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_c403 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_c403 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_7003 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_7003 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_66a4 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_66a4 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_8032 {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_8032 {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7742 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7742 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_84ec {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_84ec {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_60df {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_60df {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_32b9 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_32b9 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_41d9 {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_41d9 {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_7816 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_7816 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MIN_WIDGET_d644 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MIN_WIDGET_d644 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_22f6 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_22f6 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_1d1d {
0% { transform: translateX(-120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); bottom:var(--bottom,auto); left:var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); bottom:var(--bottom,auto); left:var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); bottom: 0px; left:var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_1d1d {
0% { transform: translateX(-120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); bottom:var(--bottom,auto); left:var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); bottom:var(--bottom,auto); left:var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); bottom: 0px; left:var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_e0bd {
0% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); left:var(--labelleft,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
99% { height: 40px; }
100% { transform: translateX(-120%) translateY(0px); width:var(--labelwidth,336px); height: 40px; position: fixed; right:var(--right,auto); left:var(--labelleft,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_e0bd {
0% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--right,auto); left:var(--labelleft,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
99% { height: 40px; }
100% { transform: translateX(-120%) translateY(0px); width:var(--labelwidth,336px); height: 40px; position: fixed; right:var(--right,auto); left:var(--labelleft,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_ec2e {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_ec2e {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_4f16 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_4f16 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_0c81 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_0c81 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_0b42 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_0b42 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_966c {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_966c {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_78bd {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_78bd {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MIN_WIDGET_feac {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MIN_WIDGET_feac {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_05a0 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_05a0 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7500 {
0% { transform: translateX(120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); bottom:var(--bottom,auto); left:var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); bottom:var(--bottom,auto); left:var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); bottom: 0px; left:var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7500 {
0% { transform: translateX(120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); bottom:var(--bottom,auto); left:var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); bottom:var(--bottom,auto); left:var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); bottom: 0px; left:var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_19e4 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); left:var(--left,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,-100%); left:var(--left,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_19e4 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,auto); left:var(--left,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width:var(--labelwidth,336px); height:var(--labelwidth,496px); position: fixed; right:var(--labelright,-100%); left:var(--left,auto); bottom:var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_9d0f {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left: auto; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left: auto; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_9d0f {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left: auto; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left: auto; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_38af {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_38af {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_e891 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MIN_WIDGET_e891 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,auto); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_34da {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_34da {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_2916 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_2916 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_a242 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_a242 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_ea96 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_ea96 {
0% { transform: translateY(0px); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MIN_WIDGET_b5a4 {
0% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MIN_WIDGET_b5a4 {
0% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(100%); width: 336px; height:var(--height,496px); position: fixed; right:var(--right,30px); left:var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7080 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_7080 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_77e5 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_77e5 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_cc63 {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_cc63 {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_c134 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_c134 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_229e {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_229e {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_afea {
0% { opacity: 1; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_afea {
0% { opacity: 1; }
100% { opacity: 1; }
}
.contentWrapper_5ecf { display: block; height: 100%; width: 100%; }
.copyright_fa6a { position: absolute; display: block; cursor: pointer; background-color: rgb(65, 66, 67); height: 40px; line-height: 40px !important; padding: 0px 16px !important; border-radius: 4px !important; box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.17); }
.copyright_fa6a._bottom_ad2c { bottom: 50px; right: 45px; }
.copyright_fa6a._bottom_ad2c.__ru_f432 { right: 37px; }
.copyright_fa6a._bottom_ad2c *::after { content: "" !important; display: block; left: 0px; right: 0px; bottom: -10px; height: 10px; background: transparent none repeat scroll 0% 0%; }
.logoIcon_ed2d { display: inline-block; width: 51px; height: 18px; background-repeat: no-repeat; background-size: contain; }
jdiv a.link_5dfe { font-family: Arial,sans-serif !important; font-weight: 400 !important; font-size: 13px !important; display: inline-block !important; width: auto !important; height: 18px !important; margin: 11px 0px 4px 2px !important; transition: none 0s ease 0s  !important; vertical-align: top !important; box-sizing: border-box !important; color: currentcolor; white-space: nowrap !important; cursor: pointer !important; line-height: 18px !important; }
jdiv a.link_5dfe.__ru_f432 { margin: 10px 0px 4px !important; }
jdiv a.link_5dfe.__ru_f432 .logoIcon_ed2d { width: 27px !important; margin-top: -1px; }
jdiv a.link_5dfe:hover, jdiv a.link_5dfe:visited { color: currentcolor; }
jdiv a.link_5dfe .logoIcon_ed2d { vertical-align: top !important; box-sizing: border-box !important; margin-left: 2px; }
jdiv a.link_5dfe .logoIcon_ed2d:hover { cursor: pointer !important; }
.text_2bc3 { font-family: Arial,sans-serif; font-weight: 400; font-size: 13px !important; white-space: nowrap; transform: translateZ(0px) !important; line-height: 40px !important; color: rgb(255, 255, 255); display: inline-block !important; vertical-align: middle !important; cursor: default !important; }
.corner_fc66 { position: absolute; width: 0px; height: 0px; }
._bottom_ad2c .corner_fc66 { bottom: -4px; right: 10px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(65, 66, 67); }
@keyframes showPopup_b01e {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_b01e {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_4021 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_4021 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes showPopup_4ab2 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_4ab2 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_4ce9 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_4ce9 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes ochange_7b78 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes ochange_7b78 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
.leaf_84f9 { position: absolute; width: 32px; height: 33px; z-index: 6; overflow: hidden; }
.leaf_84f9._bottom_da19, .leaf_84f9._left_119a, .leaf_84f9._right_e0d5 { right: 0px; top: 0px; width: 33px; border-radius: 0px 24px 0px 0px !important; }
.leaf_84f9._bottom_da19 .cssLeaf_e164, .leaf_84f9._left_119a .cssLeaf_e164, .leaf_84f9._right_e0d5 .cssLeaf_e164 { width: 32px !important; height: 34px !important; position: absolute; overflow: visible; right: 0px; top: 0px; }
@keyframes fadeOut_9512 {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
@keyframes fadeOut_9512 {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
.wrap_5064 { position: absolute !important; top: 0px !important; bottom: auto !important; left: 0px !important; right: 0px !important; display: none; overflow: visible; max-height: none !important; -moz-user-select: none !important; direction: ltr !important; height: 70px; }
.closeButton_8f81 { display: block; margin-top: 0px !important; margin-left: -34px !important; width: 23px !important; height: 23px !important; cursor: pointer !important; overflow: visible !important; opacity: 1; transition: opacity 0.3s cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s !important; }
.closeIcon_9a8b { display: block; width: 28px; height: 28px; background-repeat: no-repeat; cursor: pointer; opacity: 0.85; }
.closeIcon_9a8b:hover { opacity: 1; }
.label_b03f { position: fixed; z-index: 2147483647; backface-visibility: hidden; height: 40px; box-shadow: 0px 12px 14px 8px rgba(0, 0, 0, 0.17); filter: blur(0px); }
.label_b03f:hover { cursor: pointer; }
.label_b03f .leafCont_b4e9 { position: absolute; }
.label_b03f._bottom_d4c6 { border-top-left-radius: 8px !important; border-top-right-radius: 34px !important; min-width: 300px; }
.label_b03f._bottom_d4c6 .leafCont_b4e9, .label_b03f._left_5b7f .leafCont_b4e9, .label_b03f._right_fcd2 .leafCont_b4e9 { top: 0px; right: 0px; }
.label_b03f._bottom_d4c6 .lbContainer_925c, .label_b03f._left_5b7f .lbContainer_925c, .label_b03f._right_fcd2 .lbContainer_925c { left: 0px; right: 0px; max-width: 300px; }
.label_b03f._bottom_d4c6 .copyContainer_7447, .label_b03f._left_5b7f .copyContainer_7447, .label_b03f._right_fcd2 .copyContainer_7447 { right: 0px; bottom: 0px; }
.label_b03f._bottom_d4c6 .text_4753, .label_b03f._left_5b7f .text_4753, .label_b03f._right_fcd2 .text_4753 { transform: translateZ(0px); margin: 0px 37px 0px 16px; min-width: 160px; visibility: visible; }
.label_b03f._bottom_d4c6 .text_4753:hover, .label_b03f._left_5b7f .text_4753:hover, .label_b03f._right_fcd2 .text_4753:hover { cursor: pointer; }
.label_b03f .text_4753 { font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-variant: inherit; text-indent: 0px; line-height: 40px; vertical-align: top; visibility: visible; backface-visibility: hidden; }
.label_b03f .text_4753:hover { cursor: pointer; }
.label_b03f .text_4753._offline_4ddf { margin-left: 8px; }
.label_b03f .hoverl_c76a { z-index: 4; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.label_b03f .hoverl_c76a:hover { cursor: pointer; }
.copy_6c21 { position: relative; padding-top: 10px; padding-right: 36px; padding-left: 7px; display: block; height: 18px !important; float: right; }
.labelStatus_8c70 { cursor: pointer; width: 36px; height: 40px; background-repeat: no-repeat; background-position: 100% 50%; float: left; }
.copy_6c21:hover ~ .copyContainer_7447 { display: block; }
.copyContainer_7447 { position: absolute; display: none; }
.copyContainer_7447:hover { display: block; }
.hoverl_c76a:hover .lbContainer_925c { display: block; }
.lbContainer_925c { position: absolute; display: none; }
.contentTransitionWrap_30fd { animation-name: fadeIn_54ee; animation-duration: 0.15s; animation-fill-mode: backwards; animation-timing-function: ease; }
@keyframes fadeIn_54ee {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
@keyframes fadeIn_54ee {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
.logo_9d2a { position: relative; display: block; }
.logo_9d2a._no-copyright_f7d7, .logo_9d2a .fallback_dcca { display: none; visibility: hidden; }
.logo_9d2a._bottom_713b .hoverBox_bf6f { left: -10px; right: -10px; top: -20px; bottom: -5px; height: 48px; max-height: 38px !important; background-color: transparent; }
.hoverBox_bf6f { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; opacity: 0; z-index: 5; cursor: pointer; }
.logoIcon_f494 { display: block; width: 51px; height: 18px; background-repeat: no-repeat; background-position: 50% center; background-size: contain; }
.logoIcon_f494.__ru_14fd { width: 27px; }
@keyframes animationBtn_fb83 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
@keyframes animationBtn_fb83 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
